body {
   background-color: blueviolet; 
   height: 100vh;
   margin: 0px
}

#startMenu, #endMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

button {
    margin: 20px;
    padding: 10px;
    border-radius: 10pt;
    background-color: greenyellow;
}

button:hover {
   background-color: rgb(161, 250, 27); 
}

#quizSection, #quiz, #scoresPage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}